.btn {
    display: inline-block;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    color: #fff;
    transition: $btn-transition;
    &--warning {
        background-color: $secondary-color;
        span {
            font-size: 18px;
            margin-left: 3px;
            line-height: 0; 
        }
        &:hover {
            background-color: darken($secondary-color, 5%);
        }
    }

    &--primary {
        background-color: $primary-color;
        &:hover {
            background-color: $secondary-text-color;
        }
    }

    &--secondary {
        background-color: $primary-text-color;
        &:hover {
            background-color: $secondary-text-color;
        }
    }
}