.clinics {
    ._item {
        display: flex;
        align-items: center;
        border: 1px solid $blue-bg;
        padding: 1rem;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        ._desc {
            ._item-subtitle {
                font-size: 1.7rem;
                font-weight: 700;
                color: $primary-text-color;
                margin-bottom: 1rem;
            }
        }
    }
}

#{$isMobile} {
    @media (max-width: 576px) {
        .clinics {
            ._item {
                flex-direction: column;
            }
        }
    }
}