.direction-photos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;

  ._item {
    min-height: 365px;
    margin: 0 1.5rem 1rem;
    border: 1px solid $blue-bg;
    min-width: 20rem;
    ._link-photo {
      width: 100%;
      img {
        width: 100%;
      }
    }
    ._desc {
      padding: 1rem;
      ._name {
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-text-color;
        margin-bottom: 1rem;
      }

      ._position {
        font-size: 1.3rem;
      }
    }
  }
}

#{$isDesktop} {
  .direction-photos {
    ._item {
      width: calc(25% - 3rem);
    }
  }
}

#{$isMobile} {
  @media (min-width: 567px) and (max-width: 1024px) {
    .direction-photos {
      ._item {
        width: calc(50% - 3rem) !important;
      }
    }
  }
  .direction-photos {
    ._item {
      width: 100%;
      margin-right: 0;
    }
  }
}