.inner-menu {
    padding: 3rem;
    border: 3px solid $blue-bg;
    ._items {
        ._item {
            padding: 1rem 0;
            border-bottom: 1px solid #eee;
            ._link {
                color: $primary-text-color;
                &:hover {
                   color: $secondary-text-color;
                }
            }
        }
    }
}