.about {
    width: 100%;
    min-height: 38rem;
    padding-top: 6rem;
    background: url('../img/about/about.jpg') center center/cover no-repeat;

    ._desc {
        ._title {
            font-size: 3.5rem;
            font-weight: 700;
            margin-bottom: 1.5rem;
        }

        ._text {
            font-size: 1.7rem;
            margin-bottom: 2rem;
        }
    }
}

#{$isDesktop} {
    .about {
        ._desc {
            width: 50%;
            margin-left: 10rem;
        }
    }
}

#{$isMobile} {
    .about {
        padding-bottom: 5rem;

        ._desc {
            margin-left: 0;
        }
    }

    @media (min-width: 600px) and (max-width: 1024px){
        .about {
            ._desc {
                width: 65%;
            }
        }
    }
    
}