.aside {
    width: calc(25% - 3rem);
    margin-left: 3rem;
    ._img-block {
        display: block;
        margin-bottom: 2rem;
        ._img {
            width: 100%;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--inner {
            margin: 5rem 0;
        }
    }

    &--inner {
        margin-left: 0;
        margin-right: 3rem;
    }
}

#{$isMobile} {
    .aside {
        width: 100%;
    }
}