.aside {
    width: calc(25% - 3rem);
    margin-left: 3rem;
    ._img-block {
        display: block;
        margin-bottom: 2rem;
        ._img {
            width: 100%;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &--inner {
            margin: 5rem 0;
        }
        &--border {
            border: 1px solid $blue-bg;
        }
    }

    ._btn {
        position: relative;
        display: block;
        padding: 2rem;
        padding-right: 6rem;
        margin-top: 2rem;
        color: #fff;
        font-size: 1.15vw;
        font-weight: 700;
        text-transform: uppercase;
        transition: $btn-transition;
        svg {
            position: absolute;
            top: 50%;
            right: 20px;
            width: 37px;
            height: 37px;
            transform: translateY(-50%);
        }
    }

    &--inner {
        margin-left: 0;
        margin-right: 3rem;
    }
}

#{$isMobile} {
    .aside {
        width: 100%;
        ._btn {
            font-size: 1.8rem;
        }
    }
}