.main {
  &--inner {
    ._container {
      display: flex;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
}


#{$isMobile} {
  .main {
    &--inner {
      ._container {
        flex-direction: column-reverse;
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
    }
  }
}