.news {
    background-color: #fff;

    ._content {
        ._items {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;

            ._item {
                ._img {
                    width: 100%;
                }
            }
        }
    }
}

#{$isDesktop} {
    .news {
        padding: 3rem;

        ._content {
            ._items {
                margin: 0 -1.5rem;

                ._item {
                    width: calc(25% - 3rem);
                    margin: 0 1.5rem 3rem;
                    &--inner {
                        width: calc(33.333% - 3rem);
                    }
                }
            }
        }
        &--inner {
            padding: 0 0 2rem;
            margin-bottom: 2rem;
            border-bottom: 3px solid $blue-bg;
        }
    }
}

#{$isMobile} {
    .news {
        padding: 3rem 0;

        ._content {
            ._items {
                ._item {
                    width: 100%;
                    margin-bottom: 2rem;
                }
            }
        }
        &--inner {
            padding: 0 0 2rem;
            margin-bottom: 2rem;
            border-bottom: 3px solid $blue-bg;
            ._content {
                ._items {
                    ._item {
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 767px) and (max-width: 1024px) {
        .news {
            ._content {
                ._items {
                    margin: 0 -1rem;
                    ._item {
                        width: calc(50% - 2rem);
                        margin: 0 1rem 2rem;
                    }
                }
            }
        }
    }
}