.subheader {
   ._container{
        display: flex;
        align-items: center;
        justify-content: space-between;
   }
}

#{$isDesktop} {
   .subheader {
      ._container {
         position: relative !important;
      }
   }
}